{% extends 'base.html' %}

{% block title %}{{ imagen.titulo }}{% endblock %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card p-4 w-100" style="max-width: 800px; background-color: white; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
        <h2 class="text-center mb-4">{{ imagen.titulo }}</h2>
        <p class="text-center"><small class="text-muted">Subida por {{ imagen.autor.username }} el {{ imagen.fecha_subida|date:"d/m/Y H:i" }}</small></p>
        <hr>
        
        <img src="{{ imagen.imagen.url }}" class="img-fluid mb-4" alt="{{ imagen.titulo }}">
        
        <p>{{ imagen.descripcion }}</p>
        
        
        
        <a href="{% url 'galeria:lista_imagenes' %}" class="btn btn-primary mt-3">Volver a la Galería</a>
    </div>
</div>
{% endblock %}
`
